{% extends 'base.html' %}
{% load static %}

{%block content%}

<link rel="stylesheet" href="{% static 'Styles/style.css' %}">

<div class="inst"> 
   <p> Esta aplicación web es capaz de convertir pesos en cantidad númerica a letras, es decir, pesos escritos en letras.
       Es necesario que utilices un formato en el que a pesar de no tener centavos el final de esa cantidad sea ".00". Además
       no es obligatorio que se introduzca la cantidad "limpia", es decir, solo números, sino que puedes introducir la cantidad
       con los símbolos comunes como el símbolo de pesos y las comas que separan los miles.
   </p>
   
  
  <div class="formi">
   <form action="" method="POST" >
  {% csrf_token %}
  {{form.as_p}}
  <div class="button">  
   <button type="submit" class="btn">Convertir</button>
  </div>
 

   
  </div>
  <p>
    Este convertidor de pesos a letras surgió de una idea para ayudar a ciertos procesos específicos en los que es necesario colocar una cantidad de dinero en pesos
    y también escrita. De esta forma se pueden introducir varios números para convertir y al final simplemente copiarlos y pegarlos donde sea necesario.
  </p>  
</div>       

<div class="resultb">
{% if numv1 %}    
 <h4 class="result">{{numv1}} con {{numv1c}}</h4>
{% endif %} 

{% if numv2 %} 
 <h4 class="result">{{numv2}} con {{numv2c}}</h4>
{% endif %} 

{% if numv3 %} 
 <h4 class="result">{{numv3}} con {{numv3c}}</h4>
{% endif %}

{% if numv4 %} 
 <h4 class="result">{{numv4}} con {{numv4c}}</h4>
{% endif %}

{% if numv5 %} 
 <h4 class="result">{{numv5}} con {{numv5c}}</h4>
{% endif %}
</div> 
   
 
{%endblock%}
